*
    box-sizing border-box
a
    list-style none
.login
    position absolute
    width 150px
    height 30px
    top 50%
    left 50%
    margin-left -(@width/2)
    margin-top -(@height/2)
    border 1px solid
    text-align center
    line-height @height
    a
        color gray
        font-size 16px
        &:hover
            color darkred
            cursor pointer
.loginIn
    position absolute
    width 400px
    height 450px
    top 50%
    left 50%
    margin-left -(@width/2)
    margin-top -(@height/2)
    background white
    border 1px solid rgb(221,221,221)
    display none
    form
        input
            display block
            width 350px
            height 42px
            border 1px solid rgb(221,221,221)
            margin 50px auto 0
            font-size 16px


















